<%- css('css/friends') %>
<section class="section section-tags">
<div class="friends-container">
    <% if (site.data && site.data.friends) { %>
    <% var friends = site.data.friends; %>
        <% for (var i = 0, len = friends.length; i < len; i++) { %>
        <% var friend = friends[i]; %>
        <div class="friend-card">
            <img
              src="<%- friend.avatar %>"
              class="avatar"
              alt="logo"
            />
            <div class="intro">
              <h3 class="friend-name"><%- friend.name %></h3>
              <a href="<%- friend.url %>">BLOG</a>
              <p class="desc"><%- friend.introduction -%></p>
            </div>
          </div>
        <% } %>
    <% } %>
</div>
</section>
